@import url(./__container/modal__container.css);
@import url(./__title/modal__title.css);
@import url(./__form/modal__form.css);
@import url(./__fields/modal__fields.css);
@import url(./__field/modal__field.css);
@import url(./__input/modal__input.css);
@import url(./__save-btn/modal__save-btn.css);
@import url(./__close-btn/modal__close-btn.css);
@import url(./__figure/modal__figure.css);
@import url(./__image/modal__image.css);
@import url(./__caption/modal__caption.css);
@import url(./__lightbox/modal__lightbox.css);
@import url(./__input-error/modal__input-error.css);
@import url(./__placeholder/modal__placeholder.css);


.modal {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.3s, opacity 0.3s ease-in-out;
  -o-transition: visibility 0.3s, opacity 0.3s ease-in-out;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
}
