.save-btn {
  min-height: 50px;
  background-color: black;
  color: white;
  font-size: 18px;
  line-height: 1.2;
  border: 0;
  border-radius: 2px;
}

.save-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.save-btn_theme_white {
  background-color: #fff;
  color: #000;
}

.save-btn_theme_white:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 768px){
  .save-btn {
    min-height: 40px;
    font-size: 14px;
  }
}
